@model string
@{
    <a href="#" id="bootbox-confirm" onclick="Confirmar(@Model.ToString())" class="btn btn-danger">
        <span class="visible-md visible-lg"><span class="visible-md visible-lg"><i class="fa fa-remove"></i> Excluir</span></span>
        <span class="hidden-md hidden-lg"><i class="fa fa-remove"></i></span>
    </a>
}