@model string

    <div class="clearfix hidden-sm hidden-md hidden-lg"></div>

    <button id="bootbox-dialog" style="margin-bottom:6px; margin-top:6px; float:right; padding-left:4px; padding-right:4px; margin-right: 6px;" class="btn btn-success btn-sm" onclick="ImportXLS()">
        <i class="fa fa-file-excel-o"></i> Importar Excel
    </button>
    
    <button style="margin-bottom:6px; margin-top:6px; float:right; padding-left:4px; padding-right:4px; margin-right: 6px;" class="btn btn-success btn-sm" onclick="ExportXLS()">
        <i class="fa fa-file-excel-o"></i> Exportar Excel
    </button>
