body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:850px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:850px;
}
#u1 {
  position:absolute;
  left:2px;
  top:417px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:358px;
  top:60px;
  width:252px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:810px;
  width:780px;
  height:40px;
  font-size:12px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:40px;
}
#u6 {
  position:absolute;
  left:36px;
  top:12px;
  width:744px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:300px;
  top:127px;
  width:363px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:38px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1020px;
  top:0px;
  width:250px;
  height:417px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:417px;
}
#u10 {
  position:absolute;
  left:2px;
  top:200px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1042px;
  top:34px;
  width:18px;
  height:18px;
  font-size:10px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1042px;
  top:10px;
  width:43px;
  height:15px;
  font-size:12px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:1070px;
  top:35px;
  width:180px;
  height:226px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:226px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1070px;
  top:130px;
  width:120px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:272px;
  top:220px;
  width:440px;
  height:300px;
}
#u18_img {
  position:absolute;
  left:-3px;
  top:0px;
  width:446px;
  height:307px;
}
#u19 {
  position:absolute;
  left:2px;
  top:142px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:302px;
  top:285px;
  width:380px;
  height:45px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:45px;
  background-image:none;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:302px;
  top:345px;
  width:380px;
  height:45px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:45px;
  background-image:none;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:302px;
  top:440px;
  width:380px;
  height:41px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:41px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:376px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:302px;
  top:400px;
  width:350px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:14px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:302px;
  top:247px;
  width:94px;
  height:15px;
  font-size:12px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:0px;
  top:-10px;
  width:980px;
  height:860px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:860px;
}
#u29 {
  position:absolute;
  left:2px;
  top:422px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:262px;
  top:149px;
  width:440px;
  height:341px;
}
#u30_img {
  position:absolute;
  left:-3px;
  top:0px;
  width:446px;
  height:348px;
}
#u31 {
  position:absolute;
  left:2px;
  top:162px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:292px;
  top:264px;
  width:380px;
  height:45px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:45px;
  background-image:none;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:292px;
  top:324px;
  width:380px;
  height:45px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:45px;
  background-image:none;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:292px;
  top:379px;
  width:380px;
  height:41px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:41px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:376px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:292px;
  top:176px;
  width:371px;
  height:64px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:64px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:292px;
  top:444px;
  width:371px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  text-decoration:underline;
  color:#999999;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:442px;
  top:442px;
  width:70px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
